#title-donation {
  text-align: center;
  margin: auto;
  font: bold 18px/22px;
  color: #354463;
}

#showcase {
  background-image: url("../img/donation/annie-spratt-427340-unsplash.png");
  background-position: center;
  display: flex;
  justify-content: space-evenly;
}

#italic-message {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.form {
  background-color: #354463;
  padding: 5%;
}

.form-heading,
.payment-form-head {
  font: bold 22px/28px Helvetica;
  color: #fff;
  padding-bottom: 16px;
}

.form-text {
  padding: 8px 0;
  font: normal normal normal 11px/13px Helvetica;
  color: #ffffff;
  flex-wrap: nowrap;
}

.input-name,
.input-city,
.input-email {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.address input,
.emailAdd input {
  display: block;
  width: 96%;
}

input,
.state select {
  font: normal 300 16px/24px Helvetica;
  border: none;
  border-bottom: 2px #c1f7d5 solid;
  background-color: #354463;
  width: 90%;
  color: #fff;
  padding: 8px 0;
}

::placeholder {
  color: #ffffff33;
}

.zip-code {
  width: 40%;
}

.input-card-info {
  display: flex;
  align-content: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

.expiration,
.security {
  width: 96%;
}

.card-inputs {
  width: 40%;
}

.confirm-message {
  font: bold 18px/22px Helvetica;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.pay {
  text-align: center;
  font: bold 16px/20px Helvetica;
  color: #354463;
  background-color: #c1f7d5;
  padding: 12px;
  border-radius: 25px;
}

.back-button {
  margin-top: 24px;
}

.back-button a {
  color: #c1f7d5;
  font: normal underline 300 14px/24px Helvetica;
}

/* Tablets */
@media screen and (min-width: 768px) {
  .first-name,
  .last-name {
    width: 45%;
  }

  .input-city {
    display: flex;
    flex-direction: row;
  }

  .city {
    flex: 2 0;
  }

  .state,
  .zip-code {
    flex: 1 0;
  }

  .emailAdd {
    width: 100%;
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse;
  }

  .buttons {
    margin-top: 44px;
  }

  .pay {
    flex: 1 0;
  }

  .back-button {
    flex: 1 1;
  }
}

/* Desktops */
@media screen and (min-width: 1025px) {
  #showcase > .container {
    display: flex;
    flex-direction: row-reverse;
    align-content: start;
  }

  #italic-message {
    flex: 2 1;
    margin: 0 0 0 5%;
  }

  .form {
    flex: 3 1;
  }

  footer > .flood-font {
    font-size: 44px !important;
    line-height: 46px !important;
  }
}
