@import url("https://p.typekit.net/p.css?s=1&k=wvl2kgf&ht=tk&f=18085&a=84797321&app=typekit&e=css");

@font-face {
  font-family: "flood-std";
  src: url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/6da923/000000000000000000012fc3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}

body {
  font: Helvetica;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

#header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

section {
  margin: 0;
  padding: 10%;
}

footer {
  padding: 0 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#bottom-name {
  width: 60%;
  padding-top: 16px;
  font: bold 18px/22px Helvetica;
  color: #354463;
}

#contact-us,
#follow-us,
#learn-more {
  font: normal 11px/13px Helvetica;
  color: #354463;
}

#contact-details {
  margin-top: 8px;
  font: normal 300 14px/20px Helvetica;
  color: #354463;
}

footer > div > ul {
  list-style: none;
  padding: 0;
}

footer > div > ul > li > #list-item {
  font: 14px Helvetica;
  line-height: 10px;
  text-decoration: underline;
  color: #354463;
}

#bottom-hastag {
  margin-top: 42px;
  justify-self: right;
  grid-column: 2;
  text-transform: uppercase;
  color: #354463;
}

.flood-font {
  font: 44px/46px flood-std;
}

/* Tablets */
@media screen and (min-width: 640px) and (max-width: 1007px) {
  section {
    padding: 5% 10%;
  }

  footer {
    padding: 5% 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  #bottom-hastag {
    grid-column: 3;
  }

  #bottom-learn-more {
    grid-column: 2;
    align-self: center;
  }

  .flood-font {
    font: 44px/46px flood-std;
  }
}

/* Desktops */
@media screen and (min-width: 1008px) {
  section {
    padding: 5% 10%;
  }

  footer {
    padding: 5% 10%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: start;
  }

  #bottom-name {
    order: 1;
    grid-column: auto;
  }

  #bottom-contact-us {
    order: 2;
    grid-column: auto;
  }

  #bottom-learn-more {
    order: 3;
    grid-column: auto;
  }

  #bottom-follow-us {
    order: 4;
    grid-column: auto;
  }

  #bottom-hastag {
    order: 5;
    grid-column: auto;
  }

  footer > div {
    align-self: start;
  }

  #learn-more span {
    display: none;
  }

  #learn-more:after {
    content: "LINKS";
  }

  footer > div > ul {
    width: 80%;
  }

  footer > div > ul li {
    padding: 8px 0;
    border-bottom: 1px solid #000;
  }

  footer > div > ul li:last-child {
    border-bottom: 0;
  }

  footer > div > ul > li > #list-item {
    font: 14px Helvetica;
    line-height: 10px;
    text-decoration: none;
    color: #354463;
  }

  .flood-font {
    font: 72px/76px flood-std;
  }
}
